---
import Layout from "../layouts/Layout.astro";
import PostBlock from "../components/PostBlock.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
allPosts.sort((post1, post2) => post2.data.date.getTime() - post1.data.date.getTime());
---

<Layout>
  <ul class="flex flex-col space-y-16">
    {
      allPosts.map(({ data, id }) => {
        const path = `/posts/${id}`;

        return (
          <li>
            <PostBlock
              title={data.title}
              description={data.description}
              date={data.date}
              path={path}
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
